.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}

.magazine-layout {
    display: grid;
    grid-template-rows: 1fr 100px 30px 100px;
    grid-template-columns: minmax(150px 1fr);
    grid-template-areas:
        "header header"
        "nav  article"
        "article  sidebar"
        "image .";
    padding: 20px;
    gap: 20px;
}
.nav{
    grid-area: nav;
}

.h1 {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-image {
    grid-area: image;
    grid-column: span 6;
    grid-row: span 2;
}

.pull-quote {
    grid-area: sidebar;
}

.article {
    grid-area: article;
}

@media (max-width: 768px) {
    .magazine-layout {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main-image"
            "article"
            "sidebar"
            "footer";
    }
}