
* { box-sizing: border-box; }
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
    background: #ffffff;
}

header h1, nav a {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.content-wrapper {
    display: flex;
}

.sidebar {
    flex: 0 0 250px;
    box-shadow: 0 9px 9px rgba(0,0,0,0);
}

.main-content {
    min-width: 0; /*prevents overflow*/
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    margin: 15px;
    padding: 20px;
    box-shadow: 0 9px 9px rgba(0,0,0,0);
    transition: transform 200ms ease, box-shadow 200ms ease;
    flex: 1 1 300px; 
}

.card:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 30px 30px rgba(0,0,0,0.15);
}
/*used last child to align only the last card to flex-end*/
.card:last-child {
  align-self: flex-end;
}