html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
    font-family: 'times new roman', Times, serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    box-shadow: 10px 20px 50px rgba(0,0,0,1);
}

.topheader{
    font-size: 2rem;
    color: #000000;
    text-align: left;
    padding: 0;
    position : relative;
    left: 40px;
    text-shadow: 
            0 0 10px rgba(0, 0, 0, 0.4),
            0 0 20px rgba(0, 0, 0, 0.4),
            0 0 30px rgba(255, 255, 255, 0.4),
            0 0 40px rgba(255, 255, 255, 0.4);
}

.viewmenu{
    font-size: 1rem;
    color: #000000;
    text-align: right;
    padding: 0;
    position : absolute;
    top: 20px;
    right: 400px;
    cursor: pointer;
    text-shadow: 
            0 0 10px rgba(0, 0, 0, 0.4),
            0 0 20px rgba(0, 0, 0, 0.4),
            0 0 30px rgba(255, 255, 255, 0.4),
            0 0 40px rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease;
}

.hamburger {
    position:absolute;
    background: none;
    top:13px;
    right:350px;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:#000000;
    border:0;
    font-size:2em;
    cursor:pointer;
    outline:none;
    z-index:1;
    transition: all 0.3s ease;
}

header:hover .hamburger, 
header:hover .viewmenu 
{
    transform: scale(1.2);
}


.menu {
  font-family: 'times new roman', Times, serif; 
  position: absolute;
  top: 80px;
  right: 0;
  width: 400px;
  background: #f1f1f1;
  box-shadow: 0 4px 20px rgba(0,0,0,.8);
  transform: translateX(420px);
  transition: all 0.3s ease;
  pointer-events: none;
}

/*open menu*/
.viewmenu:focus ~ .menu,
.hamburger:focus ~ .menu {
  transform: translateX(0);
  pointer-events: auto;
}
/*keep menu open when focused*/
.menu:focus-within {
  transform: translateX(0);
  pointer-events: auto;
}

  .menu ul {
  list-style: none;
  font-size:2em;
  margin: 0; 
  padding: 0; 
}

  .menu li a:hover{
  display: block;    
  background:#ffffff; 
  padding-left:20px; 
  transform: scale(1.2);
  box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}
  .menu ul li a { 
    display:block;
    text-decoration:none;
    width: 400px;
    padding: 15px 30px;  
    margin: 0px; 
    color:#000000;
    transition: all 0.3s ease;
}

@media (min-width: 600px) {
  .menu {
  display: flex;
  gap: 2px;
  }
}

header{
  display: flex;
}
span{
    padding-left:270px;
    font-family: 'times new roman', Times, serif;
    font-size: 1rem;
}

.heroheader{
    font-family: 'times new roman', Times, serif;
    font-size: 3rem;
    color: #fff;
    text-align: Left;
    margin: 20px;
    padding: 0;
    position : absolute;
    top: 250px;
    left: 250px;
    line-height: 0.6;
    text-shadow: 
            0 0 10px rgba(0, 0, 0, 0.4),
            0 0 20px rgba(0, 0, 0, 0.4),
            0 0 30px rgba(255, 255, 255, 0.4),
            0 0 40px rgba(255, 255, 255, 0.4);
}

.panel {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    overflow: hidden;

    filter: contrast(100%);

  animation: flyIn 0.8s cubic-bezier(0.25,0.1,0.25,1) both;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}

.panel-1s {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    overflow: hidden;
  animation: flyIn 0.8s cubic-bezier(0.25,0.1,0.25,1) both;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}

.panel-2 {
    height: 130vh;
    color: rgb(0, 0, 0)
}
.panel-2m {
    height: 60vh;
    color: rgb(0, 0, 0);
    text-align: center;
}
.panel-2m p {
    font-family: 'times new roman', Times, serif;
    position: absolute;
    align-self: center;
    font-size: 2rem;
    color: #000000;
    text-align: center;
    padding: 50px;
    margin: 100px;
    text-shadow: 
          0 0 10px rgba(255, 255, 255, 0.4),
          0 0 20px rgba(255, 255, 255, 0.4),
          0 0 30px rgba(0, 0, 0, 0.4),
          0 0 40px rgba(0, 0, 0, 0.4);
}

.panel-2s {
    height: 200vh;
    color: rgb(0, 0, 0)
}

.panel-4 {
    height: 10vh;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    animation-range: entry 0% cover 20%;
}
.panel-4 p {
    font-family: 'times new roman', Times, serif;
    font-size: 1.1rem;
    color: #000000;
    text-align: center;
    padding: 10px;
}

/*Easing*/
@keyframes flyIn {
  from {
    transform: translateY(-10%);
    filter: contrast(100%);
    filter: brightness(100%);
    opacity: 100;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/*Panel 2 Grid*/
.grid {
display: grid;
  width: 90%;
  height: 90%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);   
  gap: 40px;
  justify-content: center;
}

/*allow for styles*/
a {
  text-decoration: none;
  color: inherit;
}

/*Grid items*/
.grid-item {
  background: #ffffff;
  color: #000000;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border-radius: 10px;
  box-shadow: 10px 40px 10px rgba(0,0,0,0.5);
  transition: transform 1s ease, box-shadow 1s ease;
}

.grid-content {
  background: rgb(255, 255, 255);
  width: 100%;
  padding: 40px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 10px 40px 10px rgba(0,0,0,0.5);
  transition: transform 1s ease, box-shadow 1s ease;
  text-shadow: 
            0 0 20px rgba(0, 0, 0, 0.4),
            0 0 30px rgba(255, 255, 255, 0.4),
            0 0 40px rgba(255, 255, 255, 0.4);
}

.grid-content h2 {
    margin: 0 0 10px;
    font-size: 2.5rem;
}

.grid-content p {
  margin: 10;
  font-size: 1rem;
  line-height: 1.5;
}

.grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}
.grid-content:hover
{
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}


/*Shop grid*/
.shopgrid {
  display: grid;
  width: 90%;
  height: 90%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);   
  gap: 100px 20px;
  justify-content: center;
}

/*allow for styles*/
a {
  text-decoration: none;
  color: inherit;
}

/*Shop grid items*/
.shopgrid-item {
  background: #ffffff;
  color: #000000;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border-radius: 10px;
  box-shadow: 10px 40px 10px rgba(0,0,0,0.5);
  transition: transform 1s ease, box-shadow 1s ease;
}

.shopgrid-content {
  background: rgb(255, 255, 255);
  width: 100%;
  padding: 40px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 10px 40px 10px rgba(0,0,0,0.5);
  transition: transform 1s ease, box-shadow 1s ease;
  text-shadow: 
            0 0 20px rgba(0, 0, 0, 0.4),
            0 0 30px rgba(255, 255, 255, 0.4),
            0 0 40px rgba(255, 255, 255, 0.4);
}

.shopgrid-content h2 {
    margin: 0 0 10px;
    font-size: 2.5rem;
}

.shopgrid-content p {
  margin: 10;
  font-size: 1rem;
  line-height: 1.5;
}

.shopgrid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}
.grid-content:hover
{
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}

/* panel 3*/
.testimonials {
    position: absolute;
    text-align: right;
    top: 20%;
    right: 10%;
    padding: 80px;
    border-radius: 10px;
    text-shadow: 
            0 0 10px rgba(0, 0, 0, 1),
            0 0 20px rgba(0, 0, 0, 1),
            0 0 30px rgba(0, 0, 0, 1),
            0 0 40px rgba(0, 0, 0, 1),
            0 0 50px rgb(255, 255, 255);
}

.testimonials p {
    font-family: 'times new roman', Times, serif;
    font-size: 2.5rem;
}
.panel-3m {
    height: 50vh;
    color: #fff;
}


/*BACKGROUND IMAGES*/

.panel-1 { 
  background: url('images/bread4.jpg') center/cover no-repeat;
}

.panel-1m { 
  background: url('images/missionp1.jpg') center/cover no-repeat;
}

.panel-1s { 
  background: url('images/shophero.jpg') top/cover no-repeat;
}

.panel-2 { 
  background: rgb(255, 255, 255)
}

.panel-2s { 
  background: rgb(255, 255, 255)
}

.panel-3 { 
  background: url('images/bread1.jpeg') center/cover no-repeat;
}
.panel-3m { 
  background: url('images/missionp3.jpg') center/cover no-repeat;
}

.panel-4 { 
  background: rgb(255, 255, 255)
}

.item1 {
  background: url('images/pasetries.avif') center/cover no-repeat;
}
.item2 {
  background: url('images/cookies.jpg') center/cover no-repeat;
}
.item3 {
  background: url('images/cupcakes.jpg') center/cover no-repeat;
}
.item4 {
  background: url('images/breads.jpg') center/cover no-repeat;
}

/*smaller screens*/
@media (max-width: 1100px) and (min-width: 0px) {

  html, body {
    overflow-x: hidden;
  }

  header {
    padding: 10px 0;
  }

  .topheader {
    font-size: 1.5rem;
  }

  span {
    padding-left: 0;
    margin-left: 20px;
    display: block;
    font-size: 0.9rem;
  }

  .viewmenu {
    right: 70px;
    top: 18px;
    font-size: 0.9rem;
  }

  .hamburger {
    right: 20px;
    top: 10px;
    font-size: 1.8rem;
  }

  .menu {
    width: 50%;
    transform: translateX(100%);
    top: 70px;
  }

  .menu ul {
    font-size: 1.4rem;
  }

  .menu ul li a {
    width: 100%;
    padding: 15px;
  }

  .heroheader {
    font-size: 2rem;
    margin-top: -60px;
    margin-left: -200px;
    line-height: 1.1;
  }

  .panel {
    height: 80vh;
    font-size: 2rem;
  }

  .panel-2,
  .panel-2s {
    height: auto;
    padding: 40px 0;
  }

  .panel-2m p {
    position: static;
    margin: 20px;
    padding: 20px;
    font-size: 1.4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
    height: auto;
  }

  .grid-content {
    padding: 25px;
  }

  .grid-content h2 {
    font-size: 2rem;
  }

  .testimonials {
    position: static;
    padding: 30px;
    text-align: center;
  }

  .testimonials p {
    font-size: 1.8rem;
  }
}
