html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

/*allow for styles*/
a {
  text-decoration: none;
  color: inherit;
}

.heroheader{
    font-family: 'times new roman', Times, serif;
    font-size: 3rem;
    color: #fff;
    text-align: Left;
    margin: 20px;
    padding: 0;
    position : absolute;
    top: 250px;
    left: 250px;
    line-height: 0.6;
    text-shadow: 
            0 0 20px rgba(0, 0, 0, 0.4),
            0 0 30px rgba(255, 255, 255, 0.4),
            0 0 40px rgba(255, 255, 255, 0.4);
}
/*Each page fills the screen*/
.panel {
    height: 110vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    overflow: hidden;

    filter: contrast(100%);

  animation: flyIn 0.8s cubic-bezier(0.25,0.1,0.25,1) both;;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}


/*Make second panel taller*/
.panel-2 {
  height: 130vh;
  color: rgb(0, 0, 0)
}

/*Easing curve*/
@keyframes flyIn {
  from {
    transform: translateY(-10%);
    filter: contrast(100%);
    filter: brightness(100%);
    opacity: 100;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/*Panel 2 Grid*/
.grid {
display: grid;
  width: 90%;
  height: 90%;
  grid-template-columns: repeat(4, 1fr); /* 2 columns */
  grid-template-rows: repeat(1, 1fr);    /* 2 rows */
  gap: 40px;  /* no gap to fill entire panel */
  justify-content: center;
}

/* Each grid item */
.grid-item {
  background: #ffffff;
  color: #000000;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border-radius: 10px;
  box-shadow: 10px 40px 10px rgba(0,0,0,0.5);
  transition: transform 1s ease, box-shadow 1s ease;
}

.grid-content {
  background: rgb(255, 255, 255);
  width: 100%;
  padding: 40px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 10px 40px 10px rgba(0,0,0,0.5);
  transition: transform 1s ease, box-shadow 1s ease;
  text-shadow: 
            0 0 20px rgba(0, 0, 0, 0.4),
            0 0 30px rgba(255, 255, 255, 0.4),
            0 0 40px rgba(255, 255, 255, 0.4);
}

.grid-content h2 {
    margin: 0 0 10px;
    font-size: 2.5rem;
}

.grid-content p {
    margin: 10;
    font-size: 1rem;
    line-height: 1.5;
}

/* Optional hover effect */
.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}
.grid-content:hover
{
transform: translateY(-5px);
        box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}
/*BACKGROUND IMAGES*/

.panel-1 { 
  background: url('images/bread4.jpg') center/cover no-repeat;
}

.panel-2 { 
  background: rgb(255, 255, 255)
}

.panel-3 { 
  background: url('images/bread1.jpeg') center/cover no-repeat;
}

.item1 {
  background: url('images/pasetries.avif') center/cover no-repeat;
}
.item2 {
  background: url('images/cookies.jpg') center/cover no-repeat;
}
.item3 {
  background: url('images/cupcakes.jpg') center/cover no-repeat;
}
.item4 {
  background: url('images/breads.jpg') center/cover no-repeat;
}