*, *::before, *::after {
    box-sizing: border-box;
}
.product-card {
    width: 350px;
    padding: 40px;
    margin: 20px 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px solid rgba(0,0,0,0.1);
    transition: box-shadow 200ms ease, transform 200ms ease, padding 200ms ease;
}

.product-card:hover {
    box-shadow: 0 16px 40px rgba(0,0,0,0.14);
    padding: 50px;
}